<!DOCTYPE html>
<html>
<head>
<%- include ./include/html_header.ejs %>
<style type="text/css">
	.t-a-c {
		text-align: center;
	}
	.box-link {
		display: block;
		line-height: 40px;
	}
	.face-unit {
		padding: 20px;
		background-color: #EEE;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">ホワイトボード君</a>
		</div>
	</div>
</div>
<div class="container">

	<div class="row">

		<div class="span3 face-unit">
			<p class="t-a-c">ようこそ<strong><%= userName %></strong>さん</p>
			<div class="t-a-c"><img src="<%= userImg %>" /></div>
		</div>

		<div class="span6">
			<section>
			<h3>ホワイトボード一覧</h3>
			<% if (lists)  { %> 
			<ul>
				<% for (var i in lists)  { %> 
				<li><a class="box-link" href="./room/<%= lists[i].id %>"><%= lists[i].name %></a></li>
				<% } %> 
			</ul>
			<% } %> 
			</section>

			<section>
				<h3>ホワイトボード作成</h3>
				<form method="post" action="/room_create">
					<fieldset>
						<input type="text" name="name" placeholder="ルーム名を入力してください">
						<input type="submit" class="btn btn-primary btn-large  btn-block " value="作成">
					</fieldset>
				</form>
			</section>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

</body>
</html>
